html {
  width: 100dvw;
  height: 100dvh;
  // overflow-x: hidden; /* Keep horizontal hidden */
  // overflow-y: hidden; /* Allow vertical scroll */
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

a {
  text-decoration: none;
}
